*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

li {
    list-style: none;
    padding: 15px;
    color: #000;
}
a {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;

}
ul li a:hover {
    color: #fff;
    background-color: #60B1FC;
    padding: 5px 10px;
    width: 100%;
    
    
}

.heroxheader {
    width: 100%;
    background-image: url("./images/Image\ \(1\).png");
    background-size: cover;
    margin-left: 30px;
    

}

.header__nav {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-between;
    
   
    
}
.header__nav--logo {
    padding: 10px;
    
}

.header__nav--links {
    display: flex;
}
.hero__content {
    padding: 0 100px ;
}
ul li ul {
    display: none;
    position: fixed;
}
ul li:hover ul{
    display: block;
    background-color: #fff;
    color: #60B1FC;
    color: #000;
    border: 1px;
}


.hero__content h3 {
    background: linear-gradient(90deg, #60B1FC -7.58%, 
    #FE79F9 45.07%, #FF8473 86.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    letter-spacing: 0.5rem;
    
}
.hero__content h1 {
    line-height: 1.9;
    letter-spacing: 0.4rem;
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
    line-height: 4rem;
}
p{
    font-size: 1.2rem;
    line-height: 20px;
}

.btn {
    background-color: #60B1FC;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 16px;
    border-radius: 18px;
    border: none;
    margin-top: 2rem;
    transition: all 3s, ease-in-out;
    
}
.btn:hover {
    opacity: 0.5;
}

.hero {
    margin-top: 6rem;

}

.recent-works {
    margin-top: 6rem;
    padding: 30px;
    justify-content: center;
    padding-left: 100px;
     
}
.recent-works h4{
    margin-bottom: 50px;
    
}

.box1 {
    background-color:#a9d6f0;
    width: 80vw;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 20px;
    padding-right: 80px;
    
   
}
.container-content {
    position: relative;
    padding-top: 70px;
    padding-left: 10px;
    justify-content: left;

}
.btn-light {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 16px;
    border-radius: 18px;
    border: none;
    margin-top: 2rem;
    transition: all 3s, ease-in-out;
    color: #000;
    
}
.btn-light:hover {
    background-color:#d9eafa ;
}
.box-2 {
    background-color: antiquewhite;
    display: flex;
    margin-top: 480px;
    width: 80vw;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    
}

.container-content2 {
    position: relative;
    top: 50px;
    margin-left: 50px;
}
.box-3 {
    background-color: #D5DEFD;
    width: 80vw;
    height: 60vh;
    display: flex;
    margin-top: 100px;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 40px;
}
.container-content3 {
    position: relative;
    top: 50px;
    margin-left: 50px;
    text-align: left ;
    justify-content: center;
}
footer {
    margin-top: 100px;
    /* margin-bottom: 100px; */
    width: 100vw;
    background-color: #F5F7F8;
    /* height: 50vh ; */
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-text {
    text-align: center;
}
.footer-items {
    display: flex;
    align-content: center;
    justify-content: center;
    
    
    
   
}